
checkpoint/run1/model-1.data-00000-of-00001
models/124M/model.ckpt.data-00000-of-00001
models/124M/vocab.bpe
models/124M/hparams.json
models/124M/checkpoint
.idea/ClonedJimmysMomBot.iml
.idea/encodings.xml
.idea/misc.xml
__pycache__/generate.cpython-37.pyc
__pycache__/gm.cpython-37.pyc
__pycache__/sight.cpython-37.pyc
__pycache__/uwu.cpython-37.pyc
__pycache__/uwufunc.cpython-37.pyc
checkpoint/discord/checkpoint
checkpoint/discord/counter
checkpoint/discord/encoder.json
checkpoint/discord/events.out.tfevents.1637176120.THEA
checkpoint/discord/events.out.tfevents.1637180468.THEA
checkpoint/discord/events.out.tfevents.1637606141.THEA
checkpoint/discord/hparams.json
checkpoint/discord/model-10.data-00000-of-00001
checkpoint/discord/model-10.index
checkpoint/discord/model-10.meta
checkpoint/discord/model-60.data-00000-of-00001
checkpoint/discord/model-60.index
checkpoint/discord/model-60.meta
checkpoint/discord/vocab.bpe
models/1558M/model.ckpt.data-00000-of-00001
models/124M/vocab.bpe
models/124M/hparams.json
models/124M/checkpoint
models/124M/vocab.bpe
models/124M/hparams.json
models/124M/checkpoint
models/124M/vocab.bpe
models/124M/hparams.json
models/124M/checkpoint
models/124M/vocab.bpe
models/124M/checkpoint
checkpoint/run1/model-5.meta
checkpoint/run1/model-5.index
checkpoint/run1/model-5.data-00000-of-00001
checkpoint/run1/model-150.meta
checkpoint/run1/model-150.index
checkpoint/run1/model-150.data-00000-of-00001
checkpoint/run1/model-11.data-00000-of-00001
checkpoint/run1/hparams.json
checkpoint/run1/events.out.tfevents.1637634746.THEA
checkpoint/run1/events.out.tfevents.1637611155.THEA
checkpoint/run1/events.out.tfevents.1637610307.THEA
checkpoint/run1/counter
checkpoint/run1/checkpoint
/models/
/checkpoint/
/checkpoint/
/models/
